.works-container {
  .top-text {
    margin-bottom: 71px;
    @media screen and (min-width: 768px) {
      margin-bottom: 44px;
    }
  }
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
