:root {
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  --primary-dark-color: #303030;
  --secondary-dark-color: #555555;

  --primary-white-color: #9da4bd;
  --secondary-white-color: #ffffff;

  --brand-color: #ff6c00;
  --cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
